<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="planet"></ion-icon>
      Portal Estelar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="hero-section">
    <div class="hero-icon">
      <ion-icon name="rocket"></ion-icon>
    </div>
    <h1 class="hero-title">Bienvenido al Sistema Central</h1>
    <p class="hero-subtitle">Gestiona tu inventario intergaláctico</p>
  </div>

  <div class="orbs-container">
    <div class="orb-wrapper" (click)="goToLogin()">
      <div class="orb orb-purple">
        <ion-icon name="finger-print"></ion-icon>
      </div>
      <span class="orb-label">Acceso</span>
    </div>

    <div class="orb-wrapper" (click)="goToProductsList()">
      <div class="orb orb-cyan">
        <ion-icon name="cube"></ion-icon>
      </div>
      <span class="orb-label">Inventario</span>
    </div>
  </div>
</ion-content>