ion-card {
  background: transparent;
}

ion-content {
  --background: transparent;
  background-color: transparent;
}

ion-header {
  --background: transparent;
  background-color: transparent;
}

ion-card-title {
  font-size: 1rem;
}

ion-img {
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
