<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Coordinates</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>Latitude: {{ latitude }}</ion-item>
      <ion-title>Longitude: {{ longitude }}</ion-title>
      <ion-title>Accuracy: {{ accuracy }}</ion-title>
    </ion-card-content>
  </ion-card>

  <div id="container">
    <img alt="Photo" [src]="photo" />

    <ion-fab vertial="bottom" horizontal="centar" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
