<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToAddProduct()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <div class="vertical-divider"></div>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (product of productService.products(); track product.id) {
    <ion-item button detail="true" [routerLink]="['/product-details', product.id]">
      <ion-thumbnail slot="start">
        <img [src]="product.imageUrl" [alt]="product.name" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
      </ion-label>
    </ion-item>
    } @empty {
    <ion-item>You don't have products.</ion-item>
    }
  </ion-list>
</ion-content>
