<ion-content>
  <div class="search-trigger-wrapper">
    <ion-searchbar
      placeholder="Buscar películas..."
      readonly="true"
      class="disable-clicks"
    ></ion-searchbar>

    <button id="open-search-modal" class="invisible-overlay"></button>
  </div>

  <ion-modal trigger="open-search-modal">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title class="ion-text-uppercase">Cosmic Navigation</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">
              <ion-icon name="close-outline" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar
            placeholder="Search the galaxy..."
            animated="true"
            (ionInput)="onSearch($event)"
            debounce="500"
          ></ion-searchbar>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        @for (movie of movieService.movies(); track movie.imdbID) {
        <div class="ion-text-center ion-margin-bottom">
          <app-movie-card
            [title]="movie.Title"
            [subtitle]="movie.Year"
            [imageUrl]="movie.Poster"
            [showFavorite]="false"
            [routerLink]="['/movie-detail', movie.imdbID]"
            (click)="closeModal()"
          >
          </app-movie-card>
        </div>
        } @empty {
        <p class="ion-text-center">No signals found in this sector.</p>
        }
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
