<ion-header>
  <ion-toolbar>
    <div class="title-wrapper">
      <ion-title
        size="large"
        color="primary"
        class="brand-title silver-text-glow"
      >
        COSMIC CINEMA
      </ion-title>
      <div class="brand-divider"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-trigger-wrapper" id="open-search-modal">
    <ion-searchbar placeholder="Search..." disabled="true"></ion-searchbar>
  </div>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <h3 class="heralds-title ion-text-uppercase ion-no-margin">
          <ion-icon name="star"></ion-icon>
          MY HERALDS
        </h3>
      </ion-col>

      <ion-col size="auto">
        <span class="heralds-count">{{ movieService.favoritesCount() }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      @for (movie of movieService.favorites(); track movie.imdbID) {
      <ion-col size="6">
        <app-movie-card
          [title]="movie.Title"
          [subtitle]="movie.Year"
          [imageUrl]="movie.Poster"
          [routerLink]="['/movie-detail', movie.imdbID]"
        >
        </app-movie-card>
      </ion-col>
      } @empty {
      <ion-col size="12">
        <p class="ion-text-center ion-padding">No favorites yet.</p>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-modal trigger="open-search-modal">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title class="ion-text-uppercase">Cosmic Navigation</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon name="close-outline" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar
            placeholder="Search..."
            (ionInput)="onSearch($event)"
            debounce="500"
          ></ion-searchbar>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="immersive-nebula" slot="fixed"></div>
        <div class="stars-container" slot="fixed"></div>

        <div class="modal-cards-container">
          @for (movie of movieService.movies(); track movie.imdbID) {

          <div class="modal-celestial-wrapper">
            <app-movie-card
              [title]="movie.Title"
              [subtitle]="movie.Year"
              [imageUrl]="movie.Poster"
              [routerLink]="['/movie-detail', movie.imdbID]"
              (click)="closeModal()"
            >
            </app-movie-card>
          </div>

          } @empty {
          <p class="ion-text-center empty-sector-text">
            No signals found in this sector.
          </p>
          }
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
